:root {
    --pantone-purple: #9b5de5;  
    --pantone-orange: #f15bb5;  
}

body {
    background-color: var(--pantone-purple);
    color: white;
}

.btn-primary, .btn-danger {
    background-color: var(--pantone-orange);
    border: none;
}

.navbar, footer {
    background-color: var(--pantone-purple);
}

/* styles.css */
footer {
    background-color: #333; /* Change this to your preferred color */
    color: #fff; /* Text color */
    padding: 20px;
    text-align: center;
}

